extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Effiel", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eius facere ipsa, ipsam iure magnam minima minus nulla optio quis quo, rem repellat, repudiandae rerum tempora ut veniam voluptatum!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa dolor in nemo nisi vitae voluptatibus. Autem, consequatur dolorum enim eum facere optio quae quas repellat? Amet animi magnam ratione!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa dolor in nemo nisi vitae voluptatibus. Autem, consequatur dolorum enim eum facere optio quae quas repellat? Amet animi magnam ratione!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa dolor in nemo nisi vitae voluptatibus. Autem, consequatur dolorum enim eum facere optio quae quas repellat? Amet animi magnam ratione!